extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9


        h1 Eduardo Palacios

        p.lead.text-light
          | Aspiring Full Stack JavaScript Developer.


        .portfolio-bio
          p
            | I have been studying FullStack JavaScript over the last couple months. 
            | I am working on continuing to improve my skills as a developer in order to make my way into the tech field.
            | I have created this portfolio of my projects to demonstrate what I have learned and worked on.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Console Debugging
          li Linking JSON to pug templates
          li Express
          li List Pagination and Filtering
          li Create forms to be interactive and collect information.
          li Object Oriented Programming.
          li Setting routes to handle requests
          li Setting up a server
          li Making API requests.
          li Handle Errors
        h6 Contact Info


        ul
          li503-997-9531
          li epalacios1410@gmail.com


        a.button.expanded(href='https://www.linkedin.com/in/eduardo-palacios-hernandez-4573aab4/') LinkedIn
        a.button.expanded(href='https://github.com/epalacios1410') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
